.button {
  background-color: #00bfff;
    border-radius: 4px;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }
.h3 {
    color:black;
}
h4 {
    color:whitesmoke;
}
.h5 {
    color: black;
}
nav {
  font-family: 'Kaushan Script', cursive;
  font-size: 1em;
}

img {
    border: solid 2px;
    border-color: black;
    position: center;
}
a {
   color:orange;
   font-weight:500;
}
p{
    font-weight:600;
}
 body{
    width: 100%;
max-width: 100%;
background: url(fon.jpg) no-repeat;
-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background-size: cover; /* Фон занимает всю доступную площадь */
    
  }

img{
  max-width: 100%;
}

  .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 1px 30px 10px 0; /* Отступы вокруг картинки */
   }

  .block{

 background-color: #e0ffff;
 width: 300px;
 height: 200px;
}

   .btn {
  display: inline-block;  
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 15px 15px 0;
  outline: none;
  border: none;  
  border-radius: 4px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #1a73e8;
  position: relative;
  overflow:hidden;
  vertical-align: top;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation; 
  z-index: 1;
}
.btn span{
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  animation: btn_ripples 0.6s linear infinite;
}
@keyframes btn_ripples {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 1000px;
    height: 1000px;
    opacity: 0;
  }
}
.btn:hover {
  box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%), 0 1px 3px 1px rgb(26 115 232 / 30%);
  background-color: #297be6;
}
.btn:active {
  box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%), 0 2px 6px 2px rgb(26 115 232 / 30%);
  background-color: #1a73e8 !important;
}
.btn:focus-visible {
  box-shadow: 0 0 0 3px lightskyblue;
}
.btn:disabled {
  pointer-events: none;
  opacity: 0.65;
}