.dropbtn {
  background-color: teal;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
img {
    border: solid 2px;
    border-color: black;
}

/* Контейнер <div> - необходимо разместить выпадающий контент */
.dropdown {
  position: relative;
  display: inline-block;
}


/* Выпадающий контент (скрыт по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
p {
   font-weight:600;
   color:black;
}
/* Изменить цвет выпадающих ссылок при наведении */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Показать выпадающее меню при наведении */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Изменить цвет фона кнопки выпадающего списка, когда отображается содержимое выпадающего списка. */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

nav {
  font-family: 'Kaushan Script', cursive;
  font-size: 1em;
}


body{
    width: 100%;
max-width: 100%;
background: url(fon.jpg) no-repeat;
-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background-size: cover; /* Фон занимает всю доступную площадь */
  }

img{
  max-width: 100%;
}
  
  .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 1px 30px 10px 0; /* Отступы вокруг картинки */
   }
   
   .btn {
  display: inline-block;  
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 15px 15px 0;
  outline: none;
  border: none;  
  border-radius: 4px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #1a73e8;
  position: relative;
  overflow:hidden;
  vertical-align: top;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation; 
  z-index: 1;
}
.btn span{
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  animation: btn_ripples 0.6s linear infinite;
}
@keyframes btn_ripples {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 1000px;
    height: 1000px;
    opacity: 0;
  }
}
.btn:hover {
  box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%), 0 1px 3px 1px rgb(26 115 232 / 30%);
  background-color: #297be6;
}
.btn:active {
  box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%), 0 2px 6px 2px rgb(26 115 232 / 30%);
  background-color: #1a73e8 !important;
}
.btn:focus-visible {
  box-shadow: 0 0 0 3px lightskyblue;
}
.btn:disabled {
  pointer-events: none;
  opacity: 0.65;
}